.App {
  text-align: center;
}

body {
  font-family: "DM Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  flex: 1;
  width: 60%;
  height: 36px;
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 20%;
}

.dropdown-toggle {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 60px;
}

.dropdown-name {
  font-weight: 600;
  text-align: left;
  margin-right: 150px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  border-color: #000;
  right: 20px;
  top: calc(50% - 5px);
  transform: translateY(-50%);
  transform-origin: 65% 65%;
  transition: transform 0.3s ease;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-menu {
  max-width: 240px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 100;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  margin-right: 2px;
}

.movie-list-container {
  display: grid;
  width: 53%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  border: solid #dadada;
  padding: 15px;
  padding-top: 5px;
  border-width: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.movie-box {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.genre {
  position: absolute;
  top: 22px;
  right: 10px;
  font-size: 17px;
  padding: 2px 5px;
  border-radius: 3px;
  color: #777777;
}

.movie-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-star-rating {
  display: flex;
  margin-bottom: 10px;
}

.movie-star {
  font-size: 24px;
  color: #000;
  margin-right: 5px;
}
